*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #ddecda;
}

.topBar {
    background-color: #E9EEE8;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 12px;
}

.logo {
    margin: 10px 80px;
    width: 120px;
}

.rightSide {
    margin-left: auto;
    margin-right: 80px;
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.rightSide a {
    display: flex;
}

.profile {
    width: 30px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.profile:hover {
    opacity: 0.7;
}

.logout {
    background: linear-gradient(135deg,#2f855a,#48bb78);
    color: black;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.logout:hover {
    background: linear-gradient(135deg,#236242,#3b9a62);
    color: white;
}

.sideBar {
    background-color: #899d87;
    width: 280px;
    min-width: 150px;
    padding: 20px 10px;
    box-sizing: border-box;
    min-height: 100vh;
}

.sideBar a {
    padding: 20px;
    text-decoration: none;
    color: black;
    display: block;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

.sideBar a:hover {
    background-color: #aabba9;
    border-radius: 6px;
    padding-left: 35px;
    color: white;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    box-shadow: none;
}

.hamburger:hover {
    color: #4a4a4a;
}

.closeSideBar {
    background: none;
    border: none;
    display: none;
    font-size: 2rem;
    margin: 10px 20px;
    color: white;
    box-shadow: none;
}

.closeSideBar:hover {
    color: #585858;
}

.points, .organizerApproval, .redeemRewards, .viewFeedback {
    background-color: #C4D7C1;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;
}

.firstContent, .organizerApprovalFirstContent{
    margin: 30px 80px;
    margin-left: 50px;
    flex: 1;
    min-width: 0;
}

.firstContent p {
    padding: 10px 0;
}

.pointsDistributionTable, .organizerApprovalTable, .viewFeedbackTable, .redeemRewardsTable {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    table-layout: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 10px;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
}

tr {
    border-bottom: 1px solid #ddd;
}

.header {
    background-color: #669e78;
}

td {
    background-color: rgb(233, 238, 232);
    font-size: 0.9em;
}

.pointsInput {
    width: 60px;
    border-radius: 4px;
}

.editButton, .saveButton, .viewButton, .deleteButton{
    background: #a3cd9f;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    display: inline-block;
    border: none;
}

.saveButton {
    display: none;
}

.editButton:hover, .saveButton:hover, .viewButton:hover, .deleteButton:hover {
    background-color: #7c9e78;
    color: white;
}

.reviewActions {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.reviewActions button {
    padding: 10px 30px;
    border: none;
}

.approveButton {
    background-color: #6bff51;
    border-radius: 8px;
}

.approveButton:hover {
    background-color: #4ac43c; 
    color: white;
}

.rejectButton {
    background-color: #ee5c5c;
    border-radius: 8px;
}

.rejectButton:hover {
    background-color: #c64a4a;
    color: white; 
}

.backIcon {
    width: 20px;
    height: auto;
}

.backContent {
    margin-left: auto;  /* this push the thing to the right */
    cursor: pointer;
    padding-bottom: 20px;
}

.backContent a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
}

.backContent a:hover {
    opacity: 0.6;
}

.firstHeader, .secondHeader, .thirdHeader {
    background-color: #41cc6d;
    padding: 15px 25px;
}

.firstHeader {
    padding: 20px 25px;
}

.applicantInfo {
    display: flex;
}

.applicantInfo img {
    width: 120px;
    height: auto;
    margin: 20px 80px;
}

.info {
    margin: 20px 0;
}

.organizationInfo, .verificationInfo, .accountInfo {
    margin: 10px 25px;
}



.organizationInfo p, .verificationInfo p{
    padding: 20px 0;
}

/* .verificationInfo a {
    text-decoration: none;
    background-color: #507f5f;
    color: white;
    padding: 20px;
} */

.requestOverview {
    background-color: #c8f5c5;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.topProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.profileContent {
    background-color: #d1f0cf;
    border-radius: 12px;
    padding: 30px 0 10px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.topProfile img {
    width: 100px;
    height: auto;
}

.logout2{
    background-color: #a1f798;
    padding: 15px 20px;
    border-radius: 6px;
    border-style: none;
    text-decoration: none;
    color: black;
    text-align: center;
}

.logout2:hover {
    background-color: #85cd7f;
    color: white;
}

.profileBottom {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addRewards {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #9ec8af;
    border: none;
    border-radius: 6px;
    padding-right: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    font-size: 0.95em;
}

.addRewards img {
    width: 20px;
    height: auto;
    padding: 8px;
    margin-left: 5px;
    opacity: 0.7;
}

.addRewards:hover {
    background-color: #7ba78c;
    color: white;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #999;
    text-decoration: none;
}

.closeButton:hover {
    color: #333;
}

button, .viewButton, .editButton, .deleteButton, .logout, .logout2 {
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* first px moves the shadow left right, second moves up down, controls how soft or sharp the shadow is */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}



.popupOverlay {
    display: none;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darkens the background */
    z-index: 1000;
    justify-content: center; /* Centers the box horizontally */
    align-items: center; /* Centers the box vertically */
}

.popupBox {
    background-color: #E9EEE8; /* Matches your topBar color */
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%; /* Keeps it responsive on mobile */
    position: relative; /* Needed so your absolute close button works */
}

.popupBox h2 {
    margin-bottom: 20px;
    color: #2c6e4d; /* Matches your logout button green */
}

.form {
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input, .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #899d87;
    border-radius: 6px;
    box-sizing: border-box; /* Ensures padding doesn't stretch the box */
}

.form input[type="file"] {
    border: none;   /* same as your other inputs */
    border-radius: 6px;
    padding: 6px 10px; 
    cursor: pointer;
}

.submitButton {
    background-color: #a3cd9f; /* Matches your edit/view buttons */
    width: 60%;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.submitButton:hover {
    background-color: #7c9e78;
    color: white;
}

.resetButton {
    background-color: #c0c5c0; /* Matches your addRewards button */
    width: 35%;
    margin-right: 3%;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.resetButton:hover {
    background-color: #a0a5a0;
    color: white;
}

.backButton {
    display: none; /* Hide this link since you have the nice X close button */
}

@media screen and (max-width: 768px) {
    .sideBar {
        width: fit-content;
        padding-top: 20px;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: 1000;
        transition: left 0.3s ease;
    }

    .sideBar p {
        white-space: normal;
        padding: 20px 20px;
    }

    .firstContent {
        margin: 15px;
    }

    .pointsDistributionTable, .organizerApprovalTable, .viewFeedbackTable, .redeemRewardsTable{
        font-size: 0.9rem;
    }

    .logo {
        width: 90px;
        margin: 0;
        margin-left: 20px;
    }

    .rightSide p {
        padding: 6px 12px;
        font-size: 0.875rem;
    }

    .rightSide {
        margin-right: 15px;
    }

    .hamburger {
        display: block;
    }

    .container {
        display: block;
    }

    .sideBar.active {
        left: 0;
    }

    .closeSideBar {
        display: block;
    }

    .reviewActions {
        flex-direction: column;
        gap: 15px;
    }

    .reviewActions button {
        width: 100%;
    }
}